@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Bookings.CreateBookingModel
@{
    ViewData["Title"] = "Create booking";
}

<h1>Create booking</h1>
<table class="table">
    <tbody>
        @if(Model.ViewData.ContainsKey(Model.))
    </tbody>
</table>
<form method="post">
    
    <div class="form-group">
        <label asp-for="@Model.NewBooking.Id" class="control-label"></label>
        <input asp-for="@Model.NewBooking.Id" readonly class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewBooking.Destination" class="control-label"></label>
        <input asp-for="@Model.NewBooking.Destination" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewBooking.StartDate" class="control-label"></label>
        <input asp-for="@Model.NewBooking.StartDate" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewBooking.EndDate" class="control-label"></label>
        <input asp-for="@Model.NewBooking.EndDate" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            <input asp-for=@Model.NewBooking.SailCompleted />
            SailCompleted
        </label>
        @* <label asp-for="@Model.NewBooking.SailCompleted" class="control-label"></label>
        <input asp-for="@Model.NewBooking.SailCompleted" class="form-control" /> *@
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewBooking.TheBoat" class="control-label"></label>
        <select asp-for="@Model.NewBooking.TheBoat" class=" form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewBooking.TheMember" class="control-label"></label>
        <select asp-for="@Model.NewBooking.TheMember" class=" form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create a booking" class="btn btn-primary" />
    </div>

    <div>
        <a asp-page="index">Back to list of bookings</a>
    </div>
</form>
