@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Bookings.CreateBookingModel
@{
    ViewData["Title"] = "Create booking";
}

<h1>Create booking</h1>

<p>
    Boat id : @Model.newBoat.Id
    <br />
    Boat sailnumber : @Model.newBoat.SailNumber
    <br />
    Boat model : @Model.newBoat.Model
    <br />
    Boat year of construction : @Model.newBoat.YearOfConstruction
</p>

<form method="post">
    <div class="form-group">
        <th>Member phonenumber</th>
        <input asp-for="@Model.PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.StartDate" class="control-label"></label>
        <input asp-for="@Model.StartDate" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.EndDate" class="control-label"></label>
        <input asp-for="@Model.EndDate" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create a booking" class="btn btn-primary" />
    </div>

    <div>
        <a asp-page="index">Back to list of bookings</a>
    </div>
</form>
