@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Bookings.IndexModel
@{
    ViewData["Title"] = "List bookings";
}

<h1>List of bookings</h1>

<p>
    <a asp-page="chooseBoat">Create a new booking</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <td>TheBoatType</td>
            <td>Model</td>
            <td>SailNumber</td>
            <td>PhoneNumber</td>
            <td>StartDate</td>
            <td>EndDate</td>     
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking item in Model.Bookings)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TheBoat.TheBoatType</td>
                <td>@item.TheBoat.Model</td>
                <td>@item.TheBoat.SailNumber</td>
                <td>@item.TheMember.PhoneNumber</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
            </tr>
        }
    </tbody>
</table>