@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Bookings.IndexModel
@{
    ViewData["Title"] = "List bookings";
}

<h1>List of bookings</h1>

<p>
    <a asp-page="CreateBooking">Create a new booking</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Destination</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>IsActive</th>
            <th>SailCompleted</th>
            <th>TheBoat</th>
            <th>TheMember</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking item in Model.Bookings)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Destination</td>
                <td>@item.StartDate.Year</td>
                <td>@item.EndDate.Year</td>
                <td>@item.IsActive</td>
                <td>@item.SailCompleted</td>
                <td>@item.TheBoat.Model</td>
                <td>@item.TheMember.FirstName</td>
            </tr>
        }

    </tbody>
</table>