@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Members.IndexModel
@{
    ViewData["Title"] = "List members";
}

<h1>List of members</h1>

<p>
    <a asp-page="CreateMember">Create a new member</a>
</p>
<form method="get">
    search: <input type="text" asp-for="@Model.FilterCriteria" />
    <select asp-for="@Model.FilterCriteria" class="form-select d-inline-block" style="width:auto; margin-left:8px;">
        <option value="">All</option>
        <option value="FirstName">FirstName</option>
        <option value="SurName">SurName</option>
        <option value="Mail">Mail</option>
        <option value="PhoneNumber">PhoneNumber</option>
        <option value="City">City</option>
        <option value="Address">Address</option>
    </select>
    <br />
    <input type="radio"
           asp-for="Members"
           value=""
           checked="@(Model.Members == null)" />
    <label>All</label>
    <br />
    @foreach (var type in Enum.GetValues<MemberType>())
    {
        <input type="radio"
               asp-for="Members"
               value="@type" />
        <label>@type</label>
        <br />
    }
    <th>
        <button type="submit" class="btn btn-outline-dark" name="FilterBy" Value="TheMemberType">Filter</button>
    </th>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>SurName</th>
            <th>Mail</th>
            <th>PhoneNumber</th>
            <th>City</th>
            <th>Address</th>
            <th>TheMemberRole</th>
            <th>TheMemberType</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Member item in Model.Members)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Mail</td>
                <td>@item.PhoneNumber</td>
                <td>@item.City</td>
                <td>@item.Address</td>
                <td>@item.TheMemberRole</td>
                <td>@item.TheMemberType</td>
                <td><a asp-page="DeleteMember" asp-route-phoneNumber="@item.PhoneNumber">Delete</a> |
                    <a asp-page="UpdateMember" asp-route-phoneNumber="@item.PhoneNumber">Edit</a></td>
            </tr>
        }

    </tbody>
</table>